
:root {
  font-family: 'Roboto', sans-serif !important;
}


body {
  background-image: url("assets/welcome.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

nav-button {
  align-self: flex-end;
}